<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <img src="<%= album_cover %>">
    <h2><%= artist_namn %></h2>
    <p><%= song %></p>
      <a href="<%= spotify %>" target="_blank"><img src="/images/spotify.jpg"></a>
    <a href="<%= youtube %>" target="_blank"><img src="/images/youtube.png"></a>
  </body>
</html>
