<!DOCTYPE html>
<html>
  <head>
    <title><%= lista_en %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rolling In The Deep<%= lista_en %></h1>
    <h2>Adele<%= lista_en %></h2>
    <img src="#"><%= lista_en %></img>
    <a>http://open.spotify.com/track/7h8Ud480Fm4ReUVxgFF9ZX <%= lista_en %></a>
    <a>http://youtu.be/rYEDA3JcQqw <%= lista_en %></a>

  </body>
</html>
